---
import type { SiteMeta } from "@/data/siteMeta";
import { siteConfig } from "@/site-config";
import "../styles/global.css";

type Props = SiteMeta;

const { title, description } = Astro.props;

const titleSeparator = "•";
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />


<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Theme Colour -->
<meta name="theme-color" content={siteConfig.themeColorLight} />
